/*###################### header ######################*/
#header {
    position: fixed;
    z-index: 1;
    background-color: #ffffff;
    width: 100%;
    height: 15.6rem;
    margin: 0 auto;
    /* border: 1px solid black; */
    box-shadow: 0 0.3rem 0.4rem 0 rgb(0 0 0 / 7%);
}
#header .header-main {
    position: relative;
    width: 105rem;
    height: 10rem;
    margin: 0 auto;
    letter-spacing: -0.03rem;
    /* border: 1px solid black; */

}


/* mem-info 부분은 styled component로 작성 */



.header-wrap {
    padding-top: 3.6rem;
    position: relative;
    /* border: 1px solid red; */
    
}
.header-wrap__item1 {
    /* position: relative; */
    
    display: flex;
    height: 6.3rem;
    align-items: center;
    /* border: 5px solid yellowgreen; */
}
.header-wrap__item1 .kurly-market:hover, .kurly-beauty:hover {
    font-weight: bold;
    color: rgb(95, 0, 128);
}
.header-wrap__item1 .kurly-market {
    margin-left: 2rem;
    font-size: 1.8rem;
    cursor: pointer;
}
.header-wrap__item1 .kurly-beauty {
    margin-left: 1rem;
    font-size: 1.8rem;
    color: rgb(181, 181, 181);
    cursor: pointer;
    position: relative;
}
/* 바표시 */ 
.kurly-market::after { 
    content: "";
    position: absolute;
    width: 0.1rem;
    height: 1.4rem;
    margin-top: 0.5rem;
    margin-left: 1.1rem;
    background-color: rgb(226, 226, 226);
}
/* N표시 */ 
.kurly-beauty::after { 
    content: "";
    width: 1rem;
    height: 1.4rem;
    position: absolute;
    top: 0.3rem;
    right: -1.3rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgNyA3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZD0iTTUuMTA4IDd2LS4wMDdMMS45MTEgMi41NzdWN0guMDQ2VjBoMS44NjdsMy4xOTYgNC40MTlWMGgxLjg2N3Y3SDUuMTA4eiIgZmlsbD0iI0ZBNjIyRiIgZmlsbC1ydWxlPSJldmVub2RkIi8+Cjwvc3ZnPgo=) 0rem 0rem no-repeat;
}
.relative-wrap {
    position: relative;
    margin: 0rem auto;
}
.header-wrap__item2 {
    position: absolute;
    left: 32.5rem;
    top: -5.5rem;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40rem;
    height: 4.8rem;
    padding-left: 1.4rem;
    border: 0.1rem solid rgb(95, 0, 128); border-radius: 0.6rem;
}
/*  */

/*  */

.header-wrap__item2 .gnb_search-btn {
    position: absolute;
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    bottom: 0.3rem;
    right: 0rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==) 0rem 0rem no-repeat;
    margin: 1rem;
}



.header-wrap__item3 {
    position: absolute;
    right: -0.6rem;
    top: -4.9rem;
    display: flex;
}
.header-wrap__item3 .place {
    width: 3.6rem;
    height: 3.6rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjcgNikiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJNOS4zMDYgMjRTMCAxNi41NDQgMCA5LjMwNmE5LjMwNiA5LjMwNiAwIDAgMSAxOC42MTIgMEMxOC42MTIgMTYuNTQ0IDkuMzA2IDI0IDkuMzA2IDI0eiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgY3g9IjkuMjEyIiBjeT0iOS4xMjMiIHI9IjIuNzg0Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K) 50% 50% no-repeat;
    background-size: cover;

    cursor: pointer;

}
.header-wrap__item3 .heart {
    width: 3.6rem;
    height: 3.6rem;
    margin-left: 2rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==) 50% 50% no-repeat;
    background-size: cover;

    cursor: pointer;
    /* border: 1px solid black; */
}
.header-wrap__item3 .market {
    width: 3.6rem;
    height: 3.6rem;
    margin-left: 2rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==) no-repeat;
    /* background-size: 100% 100%; */
    background-size: cover;

    cursor: pointer;
    /* border: 1px solid black; */
}

/* ////////////////nav//////////////////// */
#nav {
    display: flex;
    align-items: center;
    margin: 0rem auto;
    width: 105rem;
    height: 5.6rem;
    justify-content: space-between;
    /* border: 5px solid #610efd; */
    position: relative;
}
#nav .nav-main {
    display: flex;
    /* margin-left: 30px; */
    /* border: 5px solid #610efd; */
    /* width: 600px; */
    /* height: 56px; */
}
.nav-main .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 5.5rem;
    /* line-height: 35px; */

    /* flex-grow: 1;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #610efd; */
}
.menu-text {
    font-size: 1.6rem;
    font-weight: bold;
    /* font-weight: 500; */
    cursor: pointer;
    /* border: 1px solid #000000; */
}
#nav .nav__category {
    /* display: flex;
    font-weight: bold;
    border: 1px solid #000000; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 5.5rem;
    /* border: 1px solid black; */
}
/* .nav__category .category-text {
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
} */
.nav__category .category-icon {
    /* position: absolute; */
    width: 1.6rem;
    /* width: 3rem; */
    height: 1.4rem;
    margin-right: 1.4rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==);
    /* border: 1px solid black; */
    /* background-color: aqua; */
}
.nav__ship-info a {
    border: 1px solid #cccccc;
    border-radius: 1.8rem;
    padding: 0.6rem 1.6rem;
    height: 3.2rem;
    color: rgb(102, 102, 102);
    font-size: 1.3rem;
}
.nav__ship-info span {
    font-weight: bold;
    color: rgb(95, 0, 128);
}




/* 반응형 미디어 쿼리 */
@media screen and (max-width: 1300px) {
    #header {
        /* display: none; */
        background-color: bisque;
    }
    :root {font-size: 50%;}
}

/* @media screen and (max-width: 900px) {
    #header {
        display: none;
        background-color: purple;
    }

    :root {font-size: 50%;}
} */