/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;
}

:root {
    font-size: 62.5%;
    /* background-color: aqua; */
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* 시작 */
/* * {
    display: block;
} */
body {
    overflow-x: hidden; 

}
button, input {
    border: none;
    background-color:transparent;
}
a {
    text-decoration: none;
    background-color: transparent;
}
















/*###################### section ######################*/
#home-section { 
    /* overflow-x: hidden;  */

    padding-top: 15.5rem;

    /* width: 100%; */
    /* margin-top: 70px; */
    height: 23260.3px;
    /* margin: 0 auto; */
    /* border: 5px solid red; */

}
/* /////////////////////////고칠 부분///////////////////////////// */
#home-section .main-banner {
    max-width: 1900px;
    margin: 0px auto 40px;
    /* border: 5px solid green; */
}
#home-section .main-banner .main-banner__main .main-banner-image {
    width: 100%;
    min-width: 1050px;
    height: 370px;
    object-fit: cover;
    
    /* border: 4px solid yellow; */
}
/* /////////////////////////고칠 부분///////////////////////////// */

/* Swiper */
.mySwiper {
    /* border: 9px solid green; */
    width: 1050px;
    margin: 0 auto;
    /* background-color: aqua; */
}
.swiper-wrapper {
    /* position: relative; */
    /* width: 100%; */
    /* height: 100%; */
    /* z-index: 1; */
    /* display: flex; */
    /* transition-property: transform; */
    /* box-sizing: content-box; */
    /* align-items: center; */
    /* border: 5px solid black; */
    /* width: 1000px; */
}
.swiper-slide {
    /* flex-shrink: 0; */
    /* width: 100%; */
    /* height: 100%; */
    /* position: relative; */
    /* transition-property: transform; */

    display:flex; 
	align-items:center; 
	justify-content:space-evenly; 

    /* flex-shrink: 1; */
    /* border: 3px solid red; */
    /* background-color: aquamarine; */
}
.recommend {
    padding: 40px 0px;
}
.recommend__text {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
    font-weight: bold;
    margin-bottom: 27px;
    /* border: 1px solid black; */
}
.swiper-slide-wrap {
    width: 249px;
    margin: 7px;
    /* border: 1px solid black; */
}
.image-container {
    height: 320px;
    /* border: 4px solid green; */
    position: relative;
    margin-bottom: 20px;
}
.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image-container > button {
    position: absolute;
    /* position: relative; */
    right: 0px;
    bottom: 0px;
    margin: 0px 10px 10px 0px;
    z-index: 10px;
    
}
.product-info {
    margin-bottom: 8px;
    /* border: 1px solid black; */
    font-size: 16px;
}
.product-price {
    margin-top: 8px;
    /* border: 1px solid black; */
    /* font-weight: bold; */
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    /* border: 1px solid black; */
}
.discount-rate {
    font-size: 20px;
    font-weight: bold;
    color: rgb(250, 98, 47);
    margin-right: 7px;
    /* border: 1px solid black; */
}
.sales-price {
    /* width: 100%; */
    /* border: 1px solid black; */
    font-size: 20px;
    font-weight: bold;
    margin-right: 110px;
    /* margin-left: ; */
}
.dimmed-price {
    font-size: 14px;
    font-weight: bold;
    text-decoration: line-through;
    color: rgb(181, 181, 181);
    margin: 5px 0px 0px;
    /* border: 1px solid black; */
}
.sales-price-menu {
    margin-right: 200px;
}
/* ////////////////라인배너//////////////////// */
.line-banner {
    width: 1050px;
    padding: 40px 0px;
    margin: 0 auto;
}
.line-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ////////////////타임특가//////////////////// */
.special-deal {
    margin: 0px auto;
    width: 1050px;
    height: 447.45px;
    padding: 80px 0px;
    
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}
.special-deal .deal-time {
    width: 249px;
    /* border: 1px solid black; */

}
.deal-time > h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
.deal-time > h3 {
    font-size: 16px;
    color: rgb(153, 153, 153);
    margin-bottom: 24px;
}
.deal-time .time-count__timer {
    font-size: 35px;
    font-weight: bold;
    /* position: absolute; */
    /* width: 30px; */
    /* height: 50px; */
    /* border: 1px solid black; */
}
.deal-time > p {
    font-size: 14px;
    margin-top: 32px;
    color: rgb(204, 204, 204);
}

.special-deal .deal-info {
    width: 694px;
    /* border: 1px solid black; */
}
.deal-info .deal-info__image {
    height: 347px;
    /* border: 1px solid green; */

    position: relative;
}
/* .deal-info {
    width: 100px;
    height: 100px;
    border: 5px solid purple;
} */
.deal-info .deal-info__image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.deal-info__image > span {
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(189, 118, 255);
    
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0px;
    left: 0px;
    padding: 0px 8px;
    height: 32px;
}
.deal-info__image > button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
}
.deal-info__text {
    padding: 14px 0px 0px;
    /* height: 100.45px; */
    /* border: 4px solid palevioletred; */

}
.deal-info__text .product-description {
    font-size: 14px;
    font-weight: 400;
    margin: 0px 0px 8px;
    color: rgb(153, 153, 153);
}
.deal-info__text .product-name {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 6px;
}
.deal-info__text .product-price-wrap {
    display: flex;
    /* height: 100%; */
    /* align-items: flex-end; */
    /* border: 1px solid black; */
    margin-top: 23px;
}
.deal-info__text .product-price-wrap .sales-price {
    margin-right: 10px;
    /* border: 1px solid black; */
}

/*###################### footer ######################*/
/* #footer {
    
    height: 524.5px;
    border: 1px solid black;

} */

